@CHARSET "ISO-8859-1";



@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	src: local('Open Sans Light'), local('OpenSans-Light'), url(../fonts/DXI1ORHCpsQm3Vp6mXoaTegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Open Sans'), local('OpenSans'), url(../fonts/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
}
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	src: local('Open Sans Bold'), local('OpenSans-Bold'), url(../fonts/k3k702ZOKiLJc3WVjuplzOgdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}
@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 300;
	src: local('Open Sans Light Italic'), local('OpenSansLight-Italic'), url(../fonts/PRmiXeptR36kaC0GEAetxko2lTMeWA_kmIyWrkNCwPc.woff2) format('woff2');
}
@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 400;
	src: local('Open Sans Italic'), local('OpenSans-Italic'), url(../fonts/xjAJXh38I15wypJXxuGMBo4P5ICox8Kq3LLUNMylGO4.woff2) format('woff2');
}
@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 700;
	src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(../fonts/PRmiXeptR36kaC0GEAetxolIZu-HDpmDIZMigmsroc4.woff2) format('woff2');
}

@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	src: local("Roboto"), local("Roboto-Regular"), url(../fonts/robotoCWB0XYA8bzo0kSThX0UTuA.woff2) format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 500;
	src: local("Roboto Medium"), local("Roboto-Medium"), url(../fonts/robotoRxZJdnzeo3R5zSexge8UUVtXRa8TVwTICgirnJhmVJw.woff2) format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	src: local("Roboto Bold"), local("Roboto-Bold"), url("https://fonts.gstatic.com/s/roboto/v15/d-6IYplOFocCacKzxwXSOFtXRa8TVwTICgirnJhmVJw.woff2") format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
	font-family: "helvetica Narrow";
	src: url(../fonts/helvetica-narrow-ce-regular.ttf);
}

@font-face {
	font-family: "Segoe UI";
	src: url(../fonts/segoeui_2.ttf);
}

@font-face {
	font-family: "Segoe UI Symbol";
	src: url(../fonts/seguisym_1.ttf);
}

@font-face {
	font-family: "Segoe UI Negrita";
	src: url(../fonts/segoeuib_2.ttf);
}

@font-face {
	font-family: "Segoe UI Cursiva";
	src: url(../fonts/segoeuii_2.ttf);
}

@font-face {
	font-family: "Segoe Print";
	src: url(../fonts/segoepr.ttf);
}



body {
	font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: 1.42857;
	color: #666;
}
@media (min-width: 768px){
	.logincont
	{
		background-repeat: repeat-x;
		background-position: left bottom;
		position: absolute;
		top: 0px;
		left: 0px;
		right: 0px;
		bottom: 0px;
	}

	#loginfooter
	{
		position: absolute;
		bottom: 0;
		left: 30px;
		color:#000;
	}

	#loginfooter img
	{
		width: 30px;
	}

	#loginfooter span
	{
		font-size: 8pt !important;
	}

	.formlogin
	{
		position: relative;
		margin-top: 150px;
		margin-bottom: 0;
	}

	#logingroup
	{
		border-left: solid 1px #CCC !important;
	}

	#questiongroup
	{
		border-left: solid 1px #CCC !important;
		opacity: 0;
		position: absolute;
		left: 50%;
		display: none;
	}

	.form-group
	{
		margin-left: 0 !important;
	}

	.loginmessage
	{
		margin-right: -15px;
	}

}

@media (max-width: 767px){
	.logincont
	{
		background-repeat: repeat-x;
		background-position: left bottom;

	}

	#loginfooter
	{

		position: absolute;
		left: 10px;
	}

	#loginfooter img
	{
		width: 30px;
	}

	#loginfooter span
	{
		font-size: 8pt !important;
	}

	.formlogin
	{
		margin: 50px 10px 0 10px;
	}

}

#logoimg
{
	width: 90%;
}

label
{
	font-weight: 100;
	font-size: 10pt;
	margin-bottom: 10px!important;
}

.background-login-1
{
	background-image: url("../../../../CATSistem/catapp/libraries/images/landscape-1.png");
}

.background-login-2
{
	background-image: url("../../../../CATSistem/catapp/libraries/images/landscape-2.png");
}

.background-login-3
{
	background-image: url("../../../../CATSistem/catapp/libraries/images/landscape-3.png");
}

.background-login-4
{
	background-image: url("../../../../CATSistem/catapp/libraries/images/landscape-4.png");
}

.background-login-5
{
	background-image: url("../../../../CATSistem/catapp/libraries/images/landscape-5.png");
}

.navbar
{
	background-color: #3D73BA ;
	background-repeat: repeat-x;
	background-image: none;
}

.navbar-brand
{
	padding-top: 11px;
}

.navbar
{
	border-radius: 0px;
}

.navbar a
{
	color: #DDD!important;
}

.navbar a:hover
{
	color: #FFF!important;
}

.navbar-default .navbar-nav > .open > a:focus {
	color: #3399F3;
	background-color: #333;
}

.dropdown-menu {
	background-color: #333;
	border: none;
	border-radius: 0;
	min-width: 0;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
	color: #FFF;
	background-color: #7CB830;
}

.navbar {
	box-shadow: none;
	text-shadow: none;
	border: none;
	z-index: 999;
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(center top , #2E3189, #222363);
	background-image: -webkit-linear-gradient(top,#2e3189,#222363);
	background-color: #222363;
	/*box-shadow: 0px 0px 5px 2px rgba(102, 102, 102, 0.7);*/
}

.nav-stacked > li.active > a, .nav-stacked > li.active > a:hover, .nav-stacked > li.active > a:focus {
	background-color: rgb(53, 101, 185);
}

body {
	padding-top: 45px;
	color: #1A1A1A;
}

.fixed {
	position: fixed;
	background-color: #F5F5F5;
	border-right: 1px solid #DDDDDD;
	padding-top: 20px;
	padding-left: 0px;
	padding-right: 0px;
	z-index: 998;
	top:45px;
	bottom: 0;
	overflow: auto;
}
.nav-stacked .fa{
	color:#999;
	font-size: 13px;
}

@media (min-width: 768px){
	.nav-stacked .fa{
		font-size: 14px;
		min-width: 20px !important;
	}
}

.nav-stacked li a{
	border-radius: 0;
}
.scrollit {
	padding-top: 20px;
	background-color: #F0F0F0;
}

#catfooter img{
	width:35px;
}

#catfooter span, .breadcrumb
{
	font-size: 8pt !important;
}

.list-group-item{
	font-size: 10pt;
}

.breadcrumb a:hover{
	text-decoration: none;
}

.optionsUser .glyphicon {
	visibility: hidden;
	color: #2F458F;
}

.optionsUser:hover .glyphicon {
	visibility: visible;
	color: #2F458F;
}


.nav-stacked a{
	color: #545454;
	font-weight: bold;
	font-size: 12px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	text-shadow: 0px 1px rgba(255, 255, 255, 0.8);
}
.nav-stacked .active a{
	text-shadow: 0px 1px 0px rgb(35, 37, 177) !important;
}

.nav-stacked .active .fa{
	color: #FFF !important;
}

.userImg{
	width: 100%;
	max-width: 150px;
	min-width: 100px
}

dt,dd{
	overflow: hidden;
	text-overflow:ellipsis;
}

.list-group-item .fa{
	width: 20px !important;
}

.pointer {
	cursor: pointer;
	cursor: hand;
}

.list-group-item a:hover{
	text-decoration: none;
}

.nav-items{
	padding-right: 0;
	border-right: solid 1px #DDDDDD;
}

.nav-items li a{
	border-radius: 0!important;
	font-weight: normal;
	border: none;
}


.nav-items > li + li {
	margin-top: 0px;
}

.nav-items li.active a, .nav-items li.active a:hover, .nav-items li.active a:focus{
	background-color: transparent;
	color: #222363!important;
	text-shadow: 0px 1px rgba(255, 255, 255, 0.8) !important;
	font-weight: bold;
}

.nav-items .active .fa,  .nav-items .active a.fa{
	color: #222363!important;
	text-shadow: 0px 1px rgba(255, 255, 255, 0.8) !important;
	text-align: center;
}

.panel .panel-heading{
	text-transform: uppercase;
}

.panel .panel-heading .btn{
	text-transform: none !important;
}

.item-header h3, .item-header hr{
	text-transform: uppercase;
	color: #444;
	margin-top: 0;
}

.item-header{
	background-color: #FFF;
}

.item-header h3 .btn{
	text-transform: none;
}

.btn-faicon{
	font-size: 16px;
}

.btn-faicon:hover, .btn-faicon:focus{
	text-decoration: none;
	display: inline-block;
}

.alert {
	font-size: 13px;
}

/* YETI STYLE */

.btn-xs {
	padding: 1px 4px;
	line-height: 1.4;
}
.btn-xs .fa{
	width: auto!important;
}

table {
	font-size: 14px;
}

.btn-sm {
	padding: 5px 10px;
}

.navbar .dropdown-menu > li > a, .navbar .dropdown-menu > li > a:focus {
	font-size: 13px;
	font-weight: 400;
	color: #FFF;

}
.dropdown-menu > li > a {
	padding: 8px 14px;
}

.navbar .dropdown-menu > li > a:hover, .navbar .dropdown-menu > li > a:focus {
	background-color: rgb(53, 101, 185);
}

.navbar {
	font-size: 14px;
}

.dropdown-menu .divider {
	height: 1px;
	margin: 0;
	overflow: hidden;
	background-color: #666;
}


/* END YETI STYLE */

.nav-pills li .fa, .nav-pills li span{
	display: table-cell;
	vertical-align: middle;
}

.border-right1{
	padding-right: 5px;
	border-right: solid 1px #DDD;
}

.panel-title-nomargin{
	margin-top: 0px;
	margin-bottom: 0px;
	color: inherit;
}

.nav hr{
	margin: 2px 0 !important;
	padding: 0 !important;
}
.specialhover .fa  , .specialhover.active .fa{
	text-align: center;
}
.specialhover:hover , .specialhover.active {
	background-color: #6FAABD !important;
	text-shadow: 0px 1px rgba(55, 109, 179, 0.8);
}
.specialhover:hover .fa  , .specialhover.active .fa{
	transition: all 0.7s;
	transform: rotate(360deg) scale(1.5);
	color: #FFF!important;
	text-shadow: 0px 1px rgba(55, 109, 179, 0.8) !important;
}
.specialhover:hover span, .specialhover.active span{
	color: #FFF!important;
}


.social 
{
	list-style-type: none;
	width: 100%;
	display: table;
	table-layout: fixed;
	text-align: center;
}

.social li{
	display: table-cell;
	margin-left: 5px;
	margin-right: 5px;
}
.social-li + .social-li{
	padding-left: 10px;
}

.social-image
{
	width: 175px;
	opacity: 0.5;
}


.social-icon .social-icon-text{
	color: #909090!important;
	text-transform: uppercase;
	text-decoration: none;
}

.social-icon{
	overflow: hidden;
	white-space: nowrap;
	transition: all 0.4s linear;
	display: inline-block;
	text-align: left;
}


.social-icon .circle-li{
	color: #007bb6!important;
}

.social-icon .circle-fb{
	color: #2E4DA7!important;
}

.social-icon .circle-tw{
	color: #4099FF!important;
}

.social-icon .social-icon-text:hover{
	color: #909090!important;
	text-decoration: none;
}

.wecat-isologo{
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}


.table-centertext > thead > tr > th, .table-centertext > tbody > tr > td{
	text-align: center;
	vertical-align: middle;
}

.table-comment{
	margin-left: 25px;
	display: block;
	font-weight: normal;
	font-size: 0.9em;
	color: #999;
}

.table-link{
	color: #008CBA;
	text-decoration: none;
	font-size: 10pt;
}


.table-link:hover{
	color: #008CBA;
	text-decoration: none;
}

.forum-message{
	display:table;
	border: solid 1px #DDD;
	width: 100%;
	overflow: scroll;
	background-color: #FFF;
}

.forum-message + .forum-message{
	margin-top: 2px;
}

.forum-message .forum-info{
	display: table-cell;
	max-width: 150px;
	width: 20%;
	padding: 5px;
	border-right: solid 1px #DDD;
	background-color: #EFEFEF;
}

.forum-message .forum-info img{
	width: 100%;
	max-width: 130px;
	padding: 2px;
}

.forum-message .forum-body{
	display: table-cell;
	vertical-align: top;
	padding: 5px;
}

.panel-forum{
	border: none;
}

.panel-forum .panel-body{
	padding:0;
}

.panel-forum .panel-heading{
	border: solid 1px #DDD;
	margin-bottom: 2px;
}

.quote-link{
	color: #008CBA;
	text-decoration: none;
	font-size: 10pt;
	font-weight: bold;
}
.quote-link:hover, .quote-link:focus{
	text-decoration: none;
}

.navbar-brand {
	padding: 7px 15px;
}
[alt='cat']{
	height: 100%;
}

/*#################Comienzo##################*/

body, .fixed{
	background-color: #EEF2F4;
}
.fixed{
	border-right: none;
	border-right: 1px solid #DDDDDD;
}

.panel-success{
	border:none;
	box-shadow:none;
}

.panel-success .panel-heading{
	padding: 20px 15px 20px 20px;
	border:none;
}

.panel-info{
	border:none;
	box-shadow:none;
}

.panel-info .panel-heading{
	padding: 20px 15px 20px 20px;
	border:none;
}

.panel-danger{
	border:none;
	box-shadow:none;
}

.panel-danger .panel-heading{
	padding: 20px 15px 20px 20px;
	border:none;
}

.panel-warning{
	border:none;
	box-shadow:none;
}

.panel-warning .panel-heading{
	padding: 20px 15px 20px 20px;
	border:none;
}

.panel-primary{
	border:none;
	box-shadow:none;
}

.panel-primary .panel-heading{
	padding: 20px 15px 20px 20px;
	border:none;
}

.panel-primary > .list-group .list-group-item{
	border-top: 1px solid #C2E3EE;
}

.panel-default > .list-group .list-group-item{
	border-top: 1px solid #EFF1F3;
}
.panel-default > .table > tbody > tr > td{
	border-top: 1px solid #EFF1F3;
}

.panel-default{
	border:none;
	box-shadow:none;
}
.panel-default > .panel-heading .badge {
	color: #000;
	background-color: #FFF;
}

.panel-default .panel-heading{
	padding: 20px 15px 20px 20px;
	border:none;
	background-color: #2FC7F7;
	color: #FFF;
}

.panel-default .panel-default{
	border:1px solid #2FC7F7;
}

.panel-primary .panel-primary{
	border:1px solid #008CBA;
}

.panel-warning .panel-warning{
	border:1px solid #E99002;
}

.panel-success .panel-success{
	border:1px solid #43AC6A;
}

.panel-danger .panel-danger{
	border:1px solid #F04124;
}

.panel-info .panel-info{
	border:1px solid #5BC0DE;
}

.panel-title-nomargin > button{
	background-color: transparent !important;
}

.panel-forum{
	border:none!important;
}

/*##################Final###################*/

.btn-success{
	background-color: transparent;
	color: #43AC6A;
	border-color: #43AC6A;

}
.btn-primary{
	background-color: transparent;
	color: #008CBA;
	border-color: #008CBA;
}

.btn-danger{
	background-color: transparent;
	color: #F04124;
	border-color: #F04124;
}

.btn-warning{
	background-color: transparent;
	color: #E99002;
	border-color: #E99002;
}

.btn-info{
	background-color: transparent;
	color: #5BC0DE;
	border-color: #5BC0DE;
}

.btn{
	transition: background-color 0.2s linear,color 0.2s linear;
}

.profileImage{
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.profileImage200{
	width: 200px;
	height: 200px;
	border: 1px solid #DDD;
}

.profileImage25 {
	width: 25px;
	height: 25px;
	margin-right: 10px;
	position: relative;
	top: -3px;
	border-radius: 50px;
	border: medium none !important;
	float: left;
}

.profileImageComment {
	width: 30px;
	height: 30px;
	border-radius: 13px;
	float: left;
}

.table > tbody > tr > th{
	border-top: 1px solid #EFF1F3;
}

.profileimageContainer > .profileImage{
	min-width: 50px;
	min-height: 50px;
	border-radius: 50px;
	border: 1px solid #D2CBCB;
}

.nav-inbox > li.active a, .nav-inbox > li.active a:hover, .nav-inbox > li.active a:focus{
	background-color: #2FC7F7;
	border-color: #2FC7F7;
	color: #FFF;
}

.table > tbody > tr > td{
	vertical-align: middle;
}

.userFinds-user{
	border: 1px solid #EAEAEA;
	width: auto;
	margin-left: 5px;
	padding: 5px;
	display: inline-block;
	font-size: 10pt;
	margin-top: 5px;
	color: #000;
}
.userFinds-user:hover{
	border-color: #9E9E9E;
}

.nav-pills li span.messagesnumber {
	font-size: 7pt;
	background-color: rgb(237, 41, 41);
	display: inline;
	color: #FFF;
	text-shadow: 0 0;
	padding: 0px 2px;
	font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
	border-radius: 3px;
	left: -7px;
	position: relative;
	top: 5px;
}

span.messagesnumber{
	font-size: 7pt;
    background-color: rgb(237,41,41);
    display: inline;
    color: #FFF;
    text-shadow: 0 0;
    padding: 0px 2px;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    border-radius: 3px;
}

#campusBannerRight{
	padding: 15px 25px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
	position: fixed;
	background-color: transparent;
	top: 0;
	right:0;
	font-size: 28pt;
}


.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
	top: 12px;
}

@media (max-width: 767px){
	.optionsUser .glyphicon {
		visibility: visible;
	}
}
.input-heading-find{
	margin: -15px 0px;
	max-width: 150px;
	display: inline-block;
}

.nav-stacked .active .noreadDot, .noreadDot{
	font-size: 60% !important;
	position: absolute;
	top: 15px;
	left: 5px;
	z-index: 1;
	color: #F04124 !important;
	text-shadow: 0px 0px 2px rgb(0, 0, 0) !important;
	max-width: 1px !important;
	text-align: left;
}


.noreadDotFT{
	font-size: 60% !important;
	color: #F04124 !important;
	text-shadow: 0px 0px 2px rgb(0, 0, 0) !important;
	text-align: left;
	vertical-align: middle;
}

#isologo{
	max-width: 100%;
	max-height: 100%;
}

.bkgr-info{
	background-color: #3db5d8;
}

.bkgr-primary{
	background-color: #008CBA;
}

.bkgr-warning{
	background-color: #E99002;
}

.bkgr-success{
	background-color: #43AC6A;
}

.bkgr-danger{
	background-color: #F04124;
}

.image-fix{
	max-width: 100%;
	max-height: 100%;
}

.pressNote + .pressNote{
	margin-top: 10px;
	border-top: 1px solid #D3D3D3;
	padding-top: 10px;
}

.pressClipping + .pressClipping{
	margin-top: 10px;
	border-top: 1px solid #D3D3D3;
	padding-top: 10px;
}

.dl-horizontal dd {
	min-height: 19.6px;
}

.inline-block{
	display: inline-block;
}

.strong{
	font-weight: bold;
}

.sticky-note
{
	width: 150px;
	height: 170px;
	box-shadow: 2px 2px 5px #000;
	cursor: move;
	overflow: hidden;
	right: auto;
	bottom: auto;
	position: absolute;
}

.sticky-note-yelow
{
	background-color: #EBEE8E;
	background-color: rgba(233, 236, 128, 0.89);
	color: #1A1A1A;

}

.sticky-note-blue
{
	background-color: #2962ff;
	background-color: rgba(41, 98, 255, 0.8);
	color: #FFF;
}

.sticky-note-pink
{
	background-color: #FF4081;
	background-color: rgba(245, 0, 87, 0.8);
	color: #FFFFFF;
}

.sticky-note-gray
{
	background-color: #eee;
	background-color: rgba(238, 238, 238, 0.8);
	color: #1A1A1A;
}

.sticky-note-green
{
	background-color: #0dceb5;
	background-color: rgba(13, 206, 181, 0.8);
	color: #1A1E48;
}


.sticky-note-body
{
	height: 100%;
	padding-top: 29px;
}


.sticky-note-header
{
	width: 100%;
	height: 28px;
	position: absolute;
}

.sticky-note-close{
	position: absolute;
	margin-right: 5px;
	z-index: 2;
	top:0;
	right: 0;
}

.sticky-note-close .fa{
	cursor: pointer;
}

.sticky-note-yelow .sticky-note-close .fa{
	color: #1A1A1A;
}
.sticky-note-yelow .sticky-note-close .fa:hover{
	color: #333;
}

.sticky-note-blue .sticky-note-close .fa{
	color: #FFF;
}
.sticky-note-blue .sticky-note-close .fa:hover{
	color: #DBDBDB;
}

.sticky-note-pink .sticky-note-close .fa{
	color: #FFF;
}
.sticky-note-pink .sticky-note-close .fa:hover{
	color: #DBDBDB;
}

.sticky-note-gray .sticky-note-close .fa{
	color: #1a1a1a;
}
.sticky-note-gray .sticky-note-close .fa:hover{
	color: #DBDBDB;
}

.sticky-note-green .sticky-note-close .fa{
	color: #FFF;
}
.sticky-note-green .sticky-note-close .fa:hover{
	color: #DBDBDB;
}

.sticky-note-box{
	height: 700px;
	overflow: hidden;
	position: relative;
}

[role=previewNote]{
	cursor: default;
	position: relative;
}

.create-note-textarea{
	resize: none;
	width: 1000px;
	height: 170px;
	background: transparent;
	border: none;
	padding: 4px 7px;
	overflow: hidden;
}

.btn-new:hover, .btn-new:focus{
	box-shadow: 0px 0px 2px #656565;
}

.btn-info.btn-new{
	border: 0;
	color: #FFF;
	background-color: #5BC0DE;
	transition: all 0.1s linear;
	border-radius: 3px;
}

.btn-info.btn-new:hover, .btn-info.btn-new:focus{
	background-color: #4FABC6;
}

.list-group-item{
	word-wrap: break-word;
	word-break: break-all;
}


.bg-success{
	color: #FFF;
	background-color: #43AC6A;
}

.bg-warning{
	color: #FFF;
	background-color: #E99002;
}
.img-wecat{
	width: 15px;
	max-height: 20px;


}

.nav-active-shadow .active{
	box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.15);
}

.nav-active-shadow li{
	background-color: #FFFFFF;
}

.podium{
	max-width: 150px;
	position: relative;
	right: 0;
	left: 0;
	margin: auto;
}

.podium .podium-head{
	height: 70px;
}

.podium .podium-body{
	padding: 10px;
	color: #FFFFFF;
	word-wrap: break-word;
	margin-bottom: 7px;
}

.podium .podium-head .podium-image{
	width: 65px;
	height: 65px;
	background-position: center;
	background-size: cover;
	display: inline-block;
	border-radius: 75px;
	background-color: #FFFFFF;
}

.podium-silver .podium-body{
	border-top: 8px solid #898118;
	background-color: #AEA41E;
	height: 150px;
}

.podium-silver .podium-head{
	margin-top:40px;
	min-height: 50px;
	text-align: center;
}

.podium-gold .podium-body{
	border-top: 8px solid #197D81;
	background-color: #21A6AB;
	height: 180px;
}

.podium-gold .podium-head{
	margin-top:10px;
	min-height: 50px;
	text-align: center;
}

.podium-bronze .podium-body{
	border-top: 8px solid #B43D2B;
	background-color: #EC5039;
	height: 130px;
}

.podium-bronze .podium-head{
	margin-top:60px;
	min-height: 50px;
	text-align: center;
}

.col-podium{
	margin-bottom: 0;
	transition: box-shadow 0.2s linear;
	cursor: default;
	border-radius: 3px;
}

.col-podium:hover{
	box-shadow: 0 0 5px;
}

.panel-custom-heading h1,
.panel-custom-heading h2,
.panel-custom-heading h3,
.panel-custom-heading h4,
.panel-custom-heading h5,
.panel-custom-heading h6{
	margin: 0;
}

.panel-custom-heading{
	padding-bottom: 10px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	color: #1A1A1A;
}

.panel-gamification, .panel{
	box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.15);
}


.progress-container{
	height: 25px;
	width: 198px;
	border: 1px solid #CCC;
}

.progress-bar{
	background-color: #00BA5E;
	min-width: 27px;
}


.no-selectable{
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}


.challenges-group .challenges-item.item-prizes{
	display: none;
}

.inline-block{
	display: inline-block !important;
}

.item-prize-image{
	width: 25px;
	height: 25px;
}

.item-prize{
	margin-bottom: 10px;
	height: 25px;
	white-space: nowrap;
	overflow: hidden;
	display: inline-block;

}


.bg-lightgreen{
	background-color: #0CC2AA;
	color: #FFFFFF;
}

.bg-yelow{
	background-color: #efb700;
	color: #FFFFFF
}

.bg-pink{
	background-color: #F44455;
	color: #FFFFFF;
}



.bg-black{
	background-color: #2A2B3C;
	color: #FFFFFF;
}

.prizes-group{
	white-space: nowrap;
	overflow: auto;
}

.prize-item{
	display: inline-block;
	border: 2px solid #000000;
	padding: 5px 12px 3px 15px;
	margin: 10px;
	transition: all 0.1s;
	border-radius: 3px;
	background-color: #ffffff;
	width: 333px
}

.prize-item:hover{
	transform:scale(1.01);
}

.prize-item .prize-image{
	width: 175px;
	height: 175px;
	margin: 5px 62px 15px 65px;
}

.prize-item .name{
	font-size: 19pt;
	font-weight: 400;
	text-align: center;
}

.prize-item .description{
	font-size: 11pt;
	font-weight: 300;
	text-align: left;
	white-space: normal;
	border-radius: 10px;
}

.prize-item .voucher{
	font-size: 11pt;
	font-weight: 500;
	text-align: left;
	padding: 3px 5px;
	border-radius: 3px;
	background-color: #C0C0C0;
	color: #222222;
	border: 2px dotted #ffffff;
}

.ranking-myachievent{
	background-color: #FCC100;
	border: 2px dotted #FFFFFF !important;
	color: #FFFFFF !important;
}

.ranking-item-image{
	background-size:cover;
	background-position:center;
	width: 64px;
	height: 64px;
	background-color: #FFFFFF;
}

.ranking-item-body{
	text-align: right;
	line-height: 59px;
	padding-right: 15px;
	font-weight: 400;
}

.ranking-item-position{
	width: 64px;
	height: 64px;
	line-height: 59px;
	font-size: 30px;
	text-align: center;
}

.ranking-item{
	color: #222222;
}

.ranking-item:hover{
	box-shadow: 0px 0px 2px;
	transform:scale(1.01);
	z-index: 3
}

.ranking-mychallenge{
	background-color: #0CC2AA;
	border: 2px dotted #FFFFFF !important;
	color: #FFFFFF !important;
}

.ranking-mymedal, .podium-medal.ranking-mymedal{
	background-color: #F44455;
	border: 2px dotted #FFFFFF !important;
	color: #FFFFFF !important;
}

.podium-medal .podium{
	max-width: unset !important;
}

.podium-medal .podium .podium-image{
	width: 130px;
	height: 130px;
}

.podium-medal .podium .podium-head{
	height: 130px;
}

.podium-medal:hover{
	transform:scale(1.01);
	box-shadow: unset;
	z-index: 3;
}

.notification{
	position: fixed;
	top: 650px;
	right: 100px;
	z-index: 2000;
}

.notifications-container{
	position: fixed;
	top: 65px;
	right: 20px;
	z-index: 2000;
	width: 250px;

}

.notifications-container *{
	font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: transparent;
}

.notifications{
	width: 100%;
	background-color: #2A2B3C;
	color: #FFFFFF;
	color: rgba(265,265,265,.81);
	box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.15);
	border-radius: 3px;
	padding: 8px;
	display: none;
	margin-bottom: 10px;
}

.notification-title{
	margin: 0;
	background-color: #2A2B3C;
	padding-bottom: 5px;
}
.notification-image{
	width: 50px;
	height: 50px;
	vertical-align: top;
	display: inline-block;
}

.notification-content{
	background-color: #2A2B3C;
	margin-left: 8px;
	display: inline-block;
	width:  155px;
}
.notification-content h5{
	margin-top: 2px;
	margin-bottom: 2px;
	background: transparent;
	vertical-align: top;
}
.notification-content p{
	background: transparent;
	margin-bottom: 2px;
	font-size: 12px;
}
.notification-title .fa-times{
	cursor: pointer;
	color: #FFFFFF;
	margin-right: 2px;
	background: transparent;
}
.notification-title .fa-times:hover{
	color: #c0c0c0;
}

.help-back{
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(98, 98, 98, 0.54);
}

.help-pop{
	z-index: 1002;
}


.bg-lightblue{
	background-color: #03a9f4;
	color: #FFFFFF;
}

.btn-green{
	background-color: #75cb8f;
	color: #FFFFFF;
	border: 0px solid;
	transition: background-color 0.2s;
	border-radius: 3px;
}

.btn-green:focus, .btn-green:active.btn-green:focus, .btn-green:hover{
	background-color: #63c381;
	color: #FFFFFF;
	outline: none;
}

.datepicker.datepicker-dropdown.dropdown-menu{
	background-color: #FFFFFF;
	border: 1px solid #BCBCBC;;
}

.form-control:focus{
	box-shadow: unset;
}

.bg-red{
	background-color: #f44336;
	color: #FFFFFF;
}


.btn-red{
	background-color: #f55060;
	color: #FFFFFF;
	border: 0px solid;
	transition: background-color 0.2s;
	border-radius: 3px;
}

.btn-red:focus, .btn-red:active.btn-red:focus, .btn-red:hover{
	background-color: #f3384a;
	color: #FFFFFF;
	outline: none;
}

.btn-yelow{
	background-color: #ffc60a;
	color: #FFFFFF;
	border: 0px solid;
	transition: background-color 0.2s;
	border-radius: 3px;
}

.btn-yelow:focus, .btn-yelow:active.btn-yelow:focus, .btn-yelow:hover{
	background-color: #efb700;
	color: #FFFFFF;
	outline: none;
}

.question-item{
	padding: 10px
}


.btn-dark{
	background-color: #2e3e4e;
	color: #FFFFFF;
	border: 0px solid;
	transition: background-color 0.2s;
	border-radius: 3px;
}

.btn-dark:focus, .btn-dark:active.btn-dark:focus, .btn-dark:hover{
	background-color: #2a2b3c;
	color: #FFFFFF;
	outline: none;
}

.btn-lightgreen{
	background-color: #0cc2aa;
	color: #FFFFFF;
	border: 0px solid;
	transition: background-color 0.2s;
	border-radius: 3px;
}

.btn-lightgreen:focus, .btn-lightgreen:active.btn-lightgreen:focus, .btn-lightgreen:hover{
	background-color: #0bb69f;
	color: #FFFFFF;
	outline: none;
}

input[type="radio"]:focus, option:focus, input[type="checkbox"]:focus{
	outline: none;

}

.answers-group{
	display: none;
}

textarea {
	resize: vertical;
}

.block{
	display: block !important;
}

.none{
	display: none !important;
}


.btn-white{
	background-color: #FFFFFF;
	color: #1A1A1A;
	border: 0px solid;
	transition: background-color 0.2s;
	border-radius: 3px;
}

.btn-white:focus, .btn-white:active.btn-white:focus, .btn-white:hover{
	background-color: #e9e9e9;
	color: #1A1A1A;
	outline: none;
}

.small-lg{
	font-size: 12px !important;
}


.bg-white{
	background-color: #FFFFFF;
	color: #1A1A1A;
}

.border-dark{
	border: 1px solid #2e3e4e !important;
}

.modal-content{
	border-radius: .3rem;
	overflow: hidden;
}

.page-title{
	background-color: #FFFFFF;
	color: #1A1A1A;
	margin: 0;
	padding: 0;
	box-shadow: 0 2px 2px rgba(0,0,0,.03),0 1px 0 rgba(0,0,0,.03);
	margin-bottom: 20px;
	font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.page-title .title{
	padding: 10px;
	margin: 0;
	display: inline-block;
	vertical-align: bottom;
	line-height: 39px;
	height: 55px;
	padding: 8px 12px;
	font-weight: 500;
	font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 20px;

}
.page-title .btn .fa{
	font-size: 14px;
}

.page-title .btn{
	border-radius: 0px;
	line-height: 39px;
	display: inline-block;
	vertical-align: bottom;
}

.text-muted{
	color: #818a91;
}

.modal{
	font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.alert{
	font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}


.checkbox-angular input[type=checkbox] {
	z-index: -1;
}

.flat-style *{
	font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.flat-style label{
	font-size: 14px !important;
}

.flat-style input.input-sm, .flat-style select.input-sm, .flat-style textarea.input-sm{
	font-size: 14px !important;
	border-color: #E4E6E8;
	box-shadow: unset;
	color: #55595c;
}

.checkbox-angular label{
	padding-left: 0;
}

.checkbox-angular label:before  {
	width: 18px;
	height: 18px;
	content: " ";
	vertical-align: bottom;
	display: inline-block;
	font: normal normal normal 14px FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	font-size: 16px;
	margin-right: 3px;
	transition: background-color 0.3s, border 0.3s;
	z-index: 10;
	border-radius: .3rem;
	background-color: #ffffff;
	border: 2px solid #9e9e9e;

}

.checkbox-angular label:hover:before  {
	background-color: #f3f3f3;
}

.checkbox-angular label.check:before {
	color: #ffffff;
	text-align: center;
	content: "\f00c";
	font-size: 15px;
	width: 18px;
	height: 18px;
	background-color: #0bb69f;
	border:1px solid #0bb69f;
}

.inputError label{
	color: #f04124;
}

.inputError input[type="text"]:not(:focus){
	border-color: #F04124;
}

.text-indigo{
	color: #5b7dff;
}

.textRight{
	text-align: right !important;
}

.select-container{
	border: 1px solid #E4E6E8;
	overflow: auto;
	min-height: 41px;
	cursor: text;
}

.select-container .select-input{
	display: inline;
	max-width: 250px;
	width: 100%;
	height: 30px;
}

.select-container .select-selected-item{
	border: 1px solid #E4E6E8;
	height: 30px;
	display: inline-block;
	margin-top: 4px;
	margin-left: 3px;
	border-radius: 5px;
	overflow: visible;
	cursor: pointer;
}

.select-container .select-selected-item:hover{
	background-color: #F0F0F0;
}

.selected-item-image{
	width: 20px;
	height: 20px;
	border-radius: 50px;
	border: medium none !important;
	float: left;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	display: inline-block;
	margin-top: 3.5px;
	margin-left: 4.5px;
}


.selected-item-label{
	font-size: 13px;
	font-weight: 500;
	margin-left: 5px;
	float: left;
	margin-top: 5px;
}

.selected-item-delete{
	font-size: 18px;
	font-weight: 600;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 9px;
	display: inline-block;
	float: left;
	width: 11px;
	height: 11px;
	line-height: 9px;
	cursor: pointer;
	color: #CCCCCC;
}

.selected-item-delete:hover{
	color: #7e7e7e;
}

.select-selected{
	overflow: auto;
	float: left;
	display: inline-block;
}

.select-input{
	display: inline-block;
	float: left;
	margin-left: 4px;
	margin-top: 4px;
	padding-left: 3px;
	padding-right: 3px;
	border: 0px;
	box-shadow: 0 0 0 inset;
}

.select-input:focus{
	box-shadow: 0 0 0 inset;
}

.select-option{
	display: block;
	overflow: auto;
	cursor: pointer;
}
.select-option:hover{
	background-color: #428bca;
}

.select-option:hover .selected-option-label{
	color: #FFFFFF;
}


.select-options-container-super{
	margin-top: 2px;
	overflow:auto;
	position: absolute;
	width: 100%;
	padding-right: 30px;
	z-index: 2;
}

.select-options-container{
	border: 1px solid #E4E6E8;
	border-radius: 2px;
	overflow-y: scroll;
	max-height: 200px;
	background: #FFFFFF;
}

.selected-option-image{
	width: 40px;
	height: 40px;
	border-radius: 50px;
	border: medium none !important;
	float: left;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	margin-top: 4px;
	margin-left: 4px;
	margin-bottom: 4px;
}


.selected-option-label{
	font-size: 14px;
	font-weight: 400;
	margin-left: 10px;
	float: left;
	margin-top: 13px;
}

.details-list{
	margin-bottom: 15px;
}

.details-list > .details-item{
	margin-bottom: 5px
}

.details-list > .details-item + .details-item{
	border-top: 1px solid #dadada;
}

.details-list > .details-item .details-detail{
	margin-left: 10px;
	font-size: 14px;
}

.details-list > .details-item .details-label{
	font-size: 13px;
	color: #4d4d4d;
}

.page-title .brand-image{
	max-height: 30px;
	margin-top: 13px;
	margin-left: 10px;
	float: left;
	margin-right: 20px;
}

.page-title .btn.btn-title-normal
{
	height: 30px !important;
	line-height: 13px;
	border-radius: 30px;
	margin-top: 13px;
	margin-right: 10px;
	text-transform: uppercase;
	padding-left: 20px;
	padding-right: 20px;
	font-weight: 600;
	font-size: 13px;
}

.page-title{
	height: 55px;
}


.radio-angular label{
	padding-left: 0;
}

.radio-angular label:before  {
	width: 20px;
	height: 20px;
	content: "\25cb";
	vertical-align: bottom;
	display: inline-block;
	line-height: 15px;
	font-size: inherit;
	text-rendering: auto;
	font-size: 20px;
	margin-right: 3px;
	transition: color 0.3s, border 0.3s;
	z-index: 10;
	color: #9e9e9e;
	font-size: 43px;
	margin-left: -4px;
	background: #fff;

}

.radio-angular label:hover:before  {
	color: #b3b3b3;

}

.radio-angular label.check:after {
	color: #ffffff;
	text-align: center;
	content: "\25cf";
	font-size: 7px;
	width: 10px;
	height: 10px;
	position: absolute;
	top: 13px;
	left: 4px;
	line-height: 10px;
	vertical-align: bottom;
	display: inline-block;
	font-size: 16px;
	text-rendering: auto;
}


.radio-angular label.check:before {
	content: "\25cf";
	color: #0bb69f;
}

.radio-angular input[type=radio] {
	z-index: -1;
}

.flat-style .btn{
	font-weight: 500;
	font-size: 14px;
}

.flat-style .btn.btn-lg{
	font-size: 19px;
}

.f-w-400{
	font-weight: 400!important;
}

.flat-style .social-li .social-icon .social-icon-text{
	color: #1a1a1a !important;
	text-transform: none;
}

.flat-style .social-icon .circle-fb{
	color: #3f51b5 !important;
}

.flat-style .social-icon .circle-tw{
	color: #03a9f4 !important;
}

.flat-style .social-icon .circle-li{
	color: #1565c0 !important;
}

.f-w-500{
	font-weight: 500!important;
}

.legend *{
	display: inline-block;
	vertical-align: middle;

}

.legend{
	line-height: 15px;
	margin-bottom: 5px;
}
.legend .legend-color{
	width: 15px;
	height: 15px;
	border-radius: 20px;
	border: 1px solid #E7E7E7;
	vertical-align: middle;
}


.flat-style .btn.btn-xs{
	font-size: 12px;
}

.btn-group .dropdown-white{
	border-radius: 3px;
	padding: 5px 0;
	background-color: #FFFFFF;
	border: 1px solid #E5E5E5;
	font-size: 14px;
	overflow: hidden;
	box-shadow: unset;
	margin: 2px 0 0;
	border-top-width: 1px;
}

.dropdown-white > li > a{
	background-color: #FFFFFF;
	color: #1A1A1A;
	display: block;
	width: 100%;
	padding: 3px 20px;
	clear: both;
	font-weight: 400;
	line-height: 1.5;
	color: #373a3c;
	text-align: inherit;
	white-space: nowrap;
	background: 0 0;
	border: 0;
}

.dropdown-white > li > a:hover, .dropdown-white > li > a:focus{
	background-color: #EEEEEE;
	color: #1A1A1A;
}

.dropdown-menu-scale {
	opacity: 0;
	-webkit-transform: scale(.8);
	-ms-transform: scale(.8);
	transform: scale(.8);
	-webkit-transition: all 250ms cubic-bezier(.24,.22,.015,1.56);
	transition: all 250ms cubic-bezier(.24,.22,.015,1.56);
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	pointer-events: none;
	transform-origin: top left;
}

.open > .dropdown-menu-scale {
	opacity: 1;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	pointer-events: auto;
	display: block !important;
}

.flat-style .list-group-item {
	border: 1px solid #F6F7F7;
}

.padding_0 {
	padding: 0;
}

.padding_20{
	padding: 20px;
}

.b_r-0{
	border-radius: 0;
}

.dropdown-right{
	transform-origin: top right;
}

.cursor-pointer{
	cursor: pointer;
}


.m_t-20{
	margin-top: 20px;
}

.filter-gray{
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: url(filter.svg#gray);
	filter: gray;
	opacity: 0.65!important
}

.img-50x50{
	width: 50px;
	height: 50px;
	display: inline-block;
	vertical-align: middle;
}

.f-w_300{
	font-weight: 300;
}

.challenge-img:hover{
	transform: scale(1.005);
	opacity: 1!important;
}

.challenge-img{
	opacity: 0.9;
	transition: all 0.2s ease 0s;
}

.flat-style .progress-container{
	height: 8px;
	width: 100%;
	border: 0;
	border-radius: 4px;
	background: #EEEEEE;
}

.flat-style .progress-bar{
	border-radius: 4px;
	box-shadow: unset;
	min-width: 0px ;
	width: 0;
}

a:hover, a:focus {
	text-decoration: none;
	outline: none;
}

a.list-group-item, a.list-group-item:hover,  a.list-group-item:focus{
	color: #1a1a1a;
}

.dark{
	color : #2E3E4E ;
}

.bg-dark{
	background : #2E3E4E ;
	color: white;
}

.white{
	color: white;
}

.m-r_10{
	margin-right: 10px;
}

.shadow-hover:hover {
	box-shadow: 0px 0px 2px white inset;
}
.shadow-hover {
	transition: box-shadow 0.2s;
}

.bg-green{
	background: #75cb8f;
	color: white;
}

img{
	max-width: 100%;
}

.b_0{
	border: 0;
}

.alert-date{
	margin-bottom:0;
	vertical-align: bottom;
	text-align: left;
}

.crm{
	width: 100%;
	height: 700px;
	border:0;
	margin-bottom:10px
}

.btn-header{
	padding-top: 14px;
	padding-bottom: 12px;
	border-radius: 0px;
}

.material-input label{
	cursor: text;
	transform: translate3d(2px, 22px, 0) scale(1);
	transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
	max-width: 100%;
	-webkit-transform-origin: left top;
	transform-origin: left top;
	display: block;
	z-index: 3;
	position: absolute;
	top: 0px;
	left: 0;
	color: #696969;
}

.material-input input{
	display: block;
	margin: 0;
	z-index: 2;
	position: absolute;
	top: 20px;
	left: 0px;
	width: 100%;
	height: 30px;
	border: 0;
	border-bottom: 1px solid #c0c0c0;
	padding-bottom: 2px;
	padding-left: 2px;
}

.material-input.focused label{
	transform: translate3d(0, 5px, 0) scale(0.85);
}

.material-input input:focus + label{
	color: #0cc2aa;
}

.material-input input:focus{
	padding-bottom: 1px;
	border-bottom: 2px solid #0cc2aa;
}

.material-input{
	overflow: visible;
	position: relative;
	height: 50px;
	margin-bottom: 10px;
}

.hoverable:hover{
	background: #E9EBEB  !important;
}

/************RELATED TO CHAT**************/

.profileImageChat {
	width: 40px;
	height: 40px;
	border-radius: 30px;
	float: left;
}



.chatMessageinput{
	display: inline-block;
	width: calc(100% - 15px);
	vertical-align: middle;
	border: 1px solid #DADADA;
	padding-right: 35px;
}

.chatMessagesend{
	border-radius: 50px;
	transform: rotate(-360deg)  scale(1.2);
	border: 1px solid #DADADA;
	position: absolute;
	right: 15px;
	transition: all 0.2s linear;
}

.chatMessagesend:hover{
	transform: rotate(0deg) scale(1.3);
}

.messages-box{
	max-height: 400px;
	margin-bottom: 15px;
	overflow: auto;
}

.messages-box .list-group-item{
	border-left: 0;
	border-right: 0;

}

.messages-box .list-group-item:first-child{
	border-top: 0;
}

.messages-box .list-group-item:last-child{
	border-bottom: 0;
}

.messages-box .media-body .fa{
	width: auto !important;
}

.messages-box .chat-time{
	font-size: 8pt;
	margin-top: 3px;
}

.user-chat .badge{
	max-width: 30px;
	overflow: hidden;
	min-width: 25px;
	padding: 3px 0;
}

.chat-heading{
	background-color: #43AC6A;
	color: #FFF;
	vertical-align: middle;
}

.chat-heading .media-body{
	vertical-align: middle;

}

.chat-heading .media-body h4{
	margin: 0;
}

.chat-heading .media-left{
	padding:7px;
}

#usersinChat .media{
	margin-top: 0;
}

.chat-noread-container{
	position: absolute;
	top: 30px;
	right: 9px;
	background: white;
	text-align: right;
}
.chat-noread-dot{
	background-color: #f44336;
	color: #FFFFFF;
	font-weight: 300;
	padding: 3px 6px;
	display: inline-block;
	font-size: 12px;
	line-height: 1;
	vertical-align: middle;
	white-space: nowrap;
	text-align: center;
	border-radius: 10px;

}

.hoverable:hover .chat-noread-container, .active .chat-noread-container{
	background: #E9EBEB;
}

.chat-nav .list-group-item{
	border: 0;
}

.chat-date-container{
	display: inline-block;
	position: absolute;
	top: 11px;
	right: 10px;
	background: white;
	padding: 0px 4px;
}

.hoverable:hover .chat-date-container, .active .chat-date-container{
	background: #E9EBEB;
}

.chats-container{
	padding-left: 0px;
	padding-right: 0px;
	height:100%;
	border-right: 1px solid #DBDBDB;
}

.chat-header{
	background: #EEEEEE;
	padding: 10px;
	border-bottom: 1px solid #DBDBDB;
}

.chat-container{
	padding: 0 ;
}

.chat-header .list-group-item-heading{
	margin-top: 10px;
}

.chat-header .btn-options{
	position: absolute;
	top: 13px;
	right: 13px;
}

.btn-options{
	color: #1A1A1A;
	border-radius: 30px;
	box-shadow: unset !important;
	border: 0
}
.btn-options:active{
	background: #CFCFCF;

}

.p_20{
	padding: 20px;
}

.chat-messages{
	height: 460px;
	overflow: auto;
	margin: 0;
}

.chat-container-body{
	padding-top:0;
	padding-bottom:0
}

.chats .list-group-item{
	padding: 10px;
	border: 0px;
}

.chats .media-body{
	white-space: nowrap;
}

.chats{
	overflow: auto;
	padding-right: 0px;
	height: 460px;
	margin:0;
}

.chats a.list-group-item.active,
.chats .list-group-item.active:hover,
.chats .list-group-item.active:focus {
	color: #1A1A1A;
	background-color: #E9EBEB;
}

.chats .chat-time{
	font-size: 12px;
}

.chat .list-group-item .fa{
	width: auto !important;
}

.text-red{
	color: #F44336 ! important;
}

.text-ligthgreen{
	color: #0DCEB5 !important;
}

.text-pink-dark{
	color: #F3384A !important;
}

.text-dark{
	color: #2E3E4E !important;
}
.chat-container-body .text-muted{
	color: #626262;
}

.chat-newmessage{
	border-top: 1px solid #DBDBDB;
}

.chat-newmessage .form-group,
.chat-newmessage .input-group{
	width: 100%;
}

.chat-newmessage .form-control{
	border: 0;
}

.btn-newmessage-send{
	width: 40px !important;
	color: #2E3E4E !important;
}

.btn-noshadow:active,
.btn-noshadow:focus{
	box-shadow: unset;
}

.chats-delete{
	display: none;
	visibility: hidden;
}

.chats .list-group-item:hover .chats-delete{
	display: inline;
	visibility: visible;
}

.btn-group.open.btn-options .dropdown-toggle{
	background: #CFCFCF;
	box-shadow: unset;
	border-radius: 30px;
}
.btn-options .dropdown-toggle{
	box-shadow: unset;
	border-radius: 30px;
}

.btn-deleteuser{
	right: 13px;
	position: absolute;
}
/************ "END" RELATED TO CHAT **************/

.nav > li > a:hover, .nav > li > a:focus {
	background-color: #d8d8d8;
}

.sticky-note textarea
{
	height:100%;
	width:100%;
	resize:none;
	border-style:none;
	overflow-x: auto;
	overflow-y: auto;
	border: none !important;
}

.sticky-note
{
	position: absolute !important;
}

.table > thead > tr > th{
	vertical-align: middle;
}

.catnet-left-bar{
	height: 75%;
	border: 0;
	display: block;
	width: 100%;
	overflow-y: auto;
}

.tips{
	background: black;
	color: white;
	height: 25%;
	border: 1px solid #c0c0c0;
	width: 100%;
	text-align: center;
}

.carousel-control{
	background-image: unset !important;
}


.carousel-control .glyphicon{
	color: #1A1A1A !important;
}

.carousel , .carousel-inner, .carousel-inner .item, .carousel-inner .item img {
	height: 100% !important;
}


.carousel{
	background: white;
	color:#1A1A1A;
	text-shadow:unset
}

.carousel-inner .item{
	overflow: auto;
}

.outer {
	display: table;
	position: absolute;
	height: 100%;
	width: 100%;
}

.middle {
	display: table-cell;
	vertical-align: middle;
}

.inner {
	margin-left: auto;
	margin-right: auto;
}

.carousel-inner .item .inner{
	padding: 10px 50px 0px 50px;
}

.tip-feedback{
	margin-bottom: 10px;
}

@media (min-width: 768px){
	.custom-modal{
		width: 70%;
	}
}

/************ "BEGIN" RELATED TO TEAMING **************/

span.ver{
	color:#00b500;
}

.back-teaming{
	background-image: url(../images/fondo.png);
	background-size: cover;
	margin: -20px -15px -245px -20px;
	padding: 22px 20px;
	overflow-y: auto;

}

.back-teaming > .container-fluid{
	margin-top: 80px;
}

.teaming-nav{
	font-family: 'Segoe Print';
    font-size: 14px;
    font-weight: 600;
}

.since {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.back{
	text-align: right;
	margin-right: -1px;
	padding: 0;
	margin: 0;
}

.back-form{
	text-align: right;
	margin-top: -232px;
	margin-right: -201px;
}

.send{
	text-align: center;
	margin-top: 38px;
	margin-bottom: -164px;
}


.teaming-logo{
	width: 330px;
	margin-top: -55px;
}

.small-heart{
	margin: -76px -107px 0px -33px;
	width: 136px
}

.shadow{
	box-shadow: inset 0px -74px 16px 0px lightgrey;
	height: 129px;
	margin-left: -16px;
	margin-right: -16px;
	margin-bottom: -16px;
	border-radius: 9px;
	margin-top: -125px;
	overflow: auto;
	opacity: 0.3;
}

.teaming-color-panel-letters{
	color: rgb(66,166,42);
	font-size: 20px;
	font-family: "Segoe UI Negrita";
}

.teaming-color{
	color: rgb(66,166,42);
}

.teaming-color:hover{
	color: rgb(66,166,42);
}

#panel-teaming{
	border-radius: 10px;
	border: 1px solid #ddd;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 100px;
}

.teaming-paragraph{
	text-align: center;
	font-size: 18px;
	font-family: "Segoe UI Symbol";
}

.second-par{
	margin: 0px 25px 0px 25px
}

.third-par{
	margin: -20px 125px -20px 125px;
}

.bottom-teaming{
	margin: 0px 110px 0px 110px;
}

.buttons{
	text-align: center;
	margin-bottom: 100px;
}

#first-try{
	background: url(../images/fondo_verde.PNG);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	font-size: 24px;
	color: white;
	box-shadow: 0 0 20px 0px grey;
	font-family: "Segoe UI Symbol";
	width: 215px;
	height: 90px;
	border: 0px solid black;
	border-radius: 3px;
	white-space: normal;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 20px;

}

#big-heart{
	width: 222px;
	margin-top: -409px;
	margin-bottom: 218px;
	margin-right: -28px;
}

#big-heart-accepted{
	width: 222px;
	margin-top: -435px;
	margin-bottom: -12px;
	margin-right: -18px;
}

#big-heart-form{
	width: 232px;
	margin-top: -685px;
	margin-bottom: 208px;
	margin-right: -18px;
}

/*******************CSS Politicas de privacidad de teaming****************************/

#panel-agreement-terms{
	width: 80%;
	float: none;
	margin-left: auto;
	margin-right: auto;
	margin-top: -62px;
	margin-bottom: 26px;
	font-family: "Segoe UI Symbol" ;
}

#panel-agreement-terms-body{
	text-align: center;
	font-family: "Segoe UI Symbol" !important;
}

.agreement-terms-paragraph {
	text-align: left;
	margin: 13px 91px 90px 100px;
	font-family: "Segoe UI Symbol" !important;
}

.big-heart-agree{
	display: block;
	float: right;
	margin: -237px -140px -242px -45px;
	width: 250px;
}

#big-heart-agreement-terms{
	width: 232px;
	margin-top: -680px;
	margin-bottom: 105px;
	margin-right: -28px;
}

.teaming-small-terms{
	width: 166px;
	height: 50px;
	margin-top: -4px;
	margin-left: -5px;
}

.cat-small-terms{
	margin-right: 54px;
	width: 120px;
	height: 50px;
}
/*******************CSS agreement/update*************************************************/

.add-header{
	text-align: left;
	background-color: rgb(66,166,42);
	color: white;
	font-family: "Segoe UI Light";
	margin: -22px -20px auto;
	padding-left: 24px;
	font-size: 41px;
	letter-spacing: -2px;
	-webkit-font-smoothing: antialiased;
}

#panel-agreement{
	width: 80%;
	float: none;
	margin-left: auto;
	margin-right: auto;
	margin-top: -62px;
	margin-bottom: 26px;
	font-family: "Segoe UI Symbol";
}

#panel-agreement-body{
	text-align: center;
	padding-left: 47px;
	padding-right: 92px;
}

.teaming-small{
	width: 166px;
	height: 50px;
	margin-top: -4px;
	margin-left: -35px;
	float: left;
}

.cat-small{
	float: right;
	margin-right: -6px;
	width: 120px;
	height: 50px;
}

.agreement-paragraph{
	text-align: left;
	margin: 15px 36px 90px 50px;
	font-family: "Segoe UI Symbol";
}

.first-paragraph{
	text-align: left;
	margin-left: 10%;
	margin-right: 10%;
}

.first-paragraph > .panel > .panel-body{
	text-align: left;
}

.second-paragraph{
	text-align: left;
	margin-left: 51px;
	font-family: "Segoe UI Symbol";
	line-height: 2em;
	margin-top: -43px;
}

.foot{
	text-align: left;
	margin-left: 6%;
	margin-right: 0%;
}

.foot > .panel-default{
	border: 1px solid black;
}

.bold{
	font-family: "Segoe UI Negrita";
	font-weight:bold;
}

.underline{
	border-bottom: 1px solid black;
	padding-left: 30px;
}

.padding-top-zero{
	padding-top: 0px;
}

.teaming-fields{
	font-family: "Segoe UI Symbol";
	width: 400px;
	height: 20px;
	border: 0;
	border-bottom: solid 1px black;
	display: inline;
	padding: 0;
	max-width: 100px;
	outline:0px;
}

.cat-sign{
	text-align: right;
	float:right;
}

.field-hr{
	margin: 0%;
}

.disguised-button{
	border: 0;
	background-color: #FFFFFF;
	color: rgb(66,166,42);
	text-decoration: underline;
	display: inline;
}

#send-info{
	background: rgb(66,166,42);
	font-size: 30px;
	color: white;
	box-shadow: 0px 0px 11px 0px dimgrey;
	font-family: "Segoe UI Symbol";
	height: 60px;
	border: 0px solid black;
	border-radius: 9px;
	width: 277px;
}

#go-teaming{
	background: rgb(66,166,42);
	color: white;
	font-family: "Segoe UI Symbol";
}


.back-formulary{
	text-align: right;
	margin-right: -1px;
	padding: 0;
	margin: 0;
}

#accepted-panel{
	box-shadow: inset 15px -8px 48px -2px #ddd;
	height: 200%;
	margin-bottom: 60px;
	padding-top: 150px;
	border-radius: 3px;
	padding-bottom: 150px;
}

#accepted-panel-body{
	text-align: center;
	width: 80%;
	height: 80%;
	float: none;
	margin-left: auto;
	margin-right: auto;
}


.accept-paragraph{
	text-align: center;
	font-size: 30px;
	margin: auto;
}

#division-body{
	margin-bottom: 170px;
	height: 300px;
}

#division-panel{
	height: 300px;
	width: 98%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 70px;
}

.send-button{
	margin-bottom: 300px;
}

#send-admin{
	width :100px;
}

#form-admin{
	margin-left: 20px;
}

#teaming-modal{
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	margin-top: 10px;
}

#noContactData{
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	margin-top: 10px;
}

.modal-button{
	text-align: right;
	padding: 10px;
}

#teaming-modal > .modal-dialogue > .modal-content{
	background-image: url(../images/fondo.png);
	background-image: url(../images/fondo.png);
	border: 5px solid green;

}

#teaming-modal > .modal-dialogue > .modal-content > .modal-body{
	font-size: 20px;
	font-weight: bold;
}

#go-teaming{
	border-radius: 3px
}

#exit-modal{
	border: none;
	background: none;
	float: right;
	margin-top: -20px;
	font-size: 26px;
	font-weight: lighter;
	margin-right: -21px;
}

.birthday-img{
	width: 100%;
}

#birthDayDialog > .modal-dialog > .modal-content{
	float : right;
}

#teaming-link{
	color: rgb(66,166,42);
	text-decoration: underline;
}

.teaming-heart{
	margin-top: 10px;
}

.center-teaming-heart{
	text-align: center;
	margin-bottom: -25px;
}

.popup-welcome{
	text-align: center;
	font-size: 25px;
}

#teaming-background{
	background-image: url(../images/fondo.png);
}

.div-buttons{
	text-align: center;
	margin-bottom: 40px;
}

.div-buttons > .btn{
	margin: 38px 0px 50px 30px;
}

.amount-qty{
	width: 60px;
	font-size: 12px;
}

.adhesion-field {
	width: 157px;
	font-size: 12px;
}

.adhesion-dni {
	width: 82px;
	font-size: 12px;
}

.adhesion-id {
	width: 70px;
	font-size: 12px;
}


#adm-tbl{
	display: block;
}

.div-buttons > .btn-default {
	background: url(../images/fondo_verde.PNG);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	display: inline-block;
	margin-left: 30px;
	margin-right: 30px;
	font-size: 25px;
	color: white;
	box-shadow: -2px -2px 27px 0px lightslategrey;
	font-family: "Segoe UI Symbol";
	width: 205px;
	height: 76px;
	border: 0px solid black;
	border-radius: 3px;
	white-space: pre-wrap;
}

#admin-header{
	background-color: rgb(66,166,42);
	font-family: "Segoe UI Symbol";
}

.sep{
	margin-bottom: 70px;
}

.top-images{
	margin-top: -74px;
	margin-bottom: 25px;
}

@media screen and (max-width: 800px) {

	.back-formulary {
		text-align: right;
		margin-bottom: 11px;
		margin-top: 200px;
		margin-left: 400px;
	}

	.back {
		text-align: right;
		display: inline-block;
	}

	.teaming-small {
		width: 100px;
		height: 40px;
		margin-top: -4px;
		margin-left: -35px;
		float: left;
	}

	.cat-small {
		float: right;
		margin-right: -68px;
		width: 80px;
		height: 38px;

	}

	.back-teaming > .breadcrumb{
		margin-left: 25px;
	}

	#panel-agreement-body{
		text-align: center;
		padding-left: 47px;
		padding-right: 90px;
	}


	.small-heart{
		float: none !important;
		margin: auto;
		margin-top: -75px;
		margin-bottom: 32px;
	}

	#panel-teaming {
		border-radius: 10px;
		border: 1px solid #ddd;
		margin-left: 10px;
		margin-right: 10px;
	}

	#big-heart-form{
		width: 222px;
		float: none !important;
		margin: auto;
		margin-top: -223px;
		margin-bottom: 242px;
	}

	#big-heart{
		width: 222px;
		float: none !important;
		margin: auto;
		margin-top: -95px;
		margin-bottom: 195px;
	}

	#big-heart-agreement-terms{
		width: 222px;
		float: right;
		margin: auto;
		margin-top: -310px;
		margin-bottom: 215px;
	}

	#big-heart-accepted{
		width: 212px;
		float: none !important;
		margin: auto;
		margin-top: -283px;
		margin-bottom: 92px;
		margin-left: 360px;
	}

	#first-try{
		background: url(../images/fondo_verde.PNG);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		font-size: 24px;
		color: white;
		box-shadow: 0 0 20px 0px grey;
		font-family: "Segoe UI Symbol";
		width: 215px;
		height: 90px;
		border: 0px solid black;
		border-radius: 3px;
		white-space: normal;
		margin-left: 10px;
		margin-right: 10px;
	}

	.second-par{
		margin: 0;
	}

	.third-par{
		margin: 0;
	}

	.bottom-teaming{
		margin: 0;
	}

	.agreement-paragraph {
		text-align: left;
		margin: 13px -69px 90px -20px;
		font-family: "Segoe UI Symbol";
	}

	.agreement-terms-paragraph {
		text-align: left;
		font-family: "Segoe UI Symbol";
	}

	.second-paragraph {
		text-align: left;
		margin-top: -79px;
		font-family: "Segoe UI Symbol";
		margin-left: -20px;
		margin-right: -70px;

	}

	.add-header{
		text-align: left;
		background-color: rgb(66,166,42);
		color: white;
		font-family: "Segoe UI Light";
		margin: -25px -33px 0px 0px;
		padding-left: 24px;
		font-size: 41px;
		letter-spacing: -2px;
		-webkit-font-smoothing: antialiased;
	}

	#panel-agreement{
		margin-left: auto;
		margin-right: auto;
	}

	#panel-agreement-terms{
		margin-left: auto;
		margin-right: auto;
	}

	.teaming-fields{
		width: 70%;
		height: 20px;
		border: 0;
		border-bottom: solid 1px black;
		display: inline;
		padding: 0;
		outline:0px;
	}

	.separator{
		margin-top: 270px;
		margin-right: 70px;
		margin-bottom: 610px;
	}

}


.optionsUser .btn {
	visibility: hidden;
	background: rgb(66,166,42);
	color: white;
}

.optionsUser:hover .btn {
	visibility: visible;
	color: white;
	background: rgb(66,166,42);
}

.modification-panel{
	margin-bottom: 40px;
}

#discharge-panel{
	margin-bottom: 150px;
}

.div-buttons > .btn-default:active{
	background-color: rgba(66,166,42,0.7);
	color: white;
}

.discharge-button{
	font-size: 20px;
	font-family: "Segoe UI Symbol";
	border: 0px solid black;
	border-radius: 4px;
	height: 75px;
	width: 194px;
	color: white;
	background-image: url(../images/fondo_verde.PNG);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	white-space: normal;
}

.discharge-button:focus{
	background-color: rgba(66,166,42,0.7);
	color: white;
}

.discharge-button:hover{
	background-color: rgba(66,166,42,0.7);
	color: white;
}

.discharge-button:active{
	background-color: rgba(66,166,42,0.7);
	color: white;
}


#teaming-report-tab{
	background: rgb(66,166,42);
	font-size: 18px;
	font-family: "Segoe UI Symbol";
	border: 0px solid black;
	color: white;
}

.nav-teaming>li.active>a, .nav-teaming>li.active>a:hover, .nav-teaming>li.active>a:focus {
	background-color: rgb(66,166,42);
	font-size: 18px;
	color: white;
	font-family: "Segoe UI Symbol";
}
.nav-teaming> li > a {
	color: #575757;
	font-size: 16px;
	font-family: "Segoe UI Symbol";
}

#reports-panel{
	margin-bottom: 270px;
	margin-right: auto;
	margin-left: auto;
}

.range-field{
	height: 30px;
	margin-left: 0.5em;
	height: 20px;
	max-width: 100px;
	width: 60px;
	display: inline-block;
}
#range-table{
	margin-bottom: 21px;
	text-align: end;
}

.report-buttons{
	text-align: center;
	margin-bottom: -20px;
}

.report-buttons > .btn{
	margin: 38px 0px 50px 30px;
}

.report-buttons > .btn-default {
	background: url(../images/fondo_verde.PNG);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	display: inline-block;
	margin-left: 30px;
	margin-right: 30px;
	font-size: 25px;
	color: white;
	box-shadow: -2px -2px 27px 0px lightslategrey;
	font-family: "Segoe UI Symbol";
	width: 205px;
	height: 76px;
	border: 0px solid black;
	border-radius: 3px;
	white-space: pre-wrap;
}

.report-buttons > .btn-default:active{
	background-color: rgba(66,166,42,0.7);
	color: white;
}

#report-users{
	font-family: "Segoe UI Symbol";
}

.returned-string{
	font-family: "Segoe UI Symbol";
}

.text{
	color: rgb(66,166,42);
}

.story-button{
	color: white;
	background-image: url(../images/fondo_verde.PNG);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	font-family: "Segoe UI Symbol";
}

.story-button:active{
	color:white;
	background-color: rgba(66,166,42,0.7);
}

.story-button:hover,.story-button:focus{
	color:white;
	background-color: rgba(66,166,42,0.7);
}

.teaming-discharge-button{
	color: white;
	background-image: url(../images/fondo_verde.PNG);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	font-size: 20px;
	font-family: "Segoe UI Symbol";
	border: 0px solid black;
	border-radius: 4px;
	height: 75px;
	width: 194px;
	margin: 10px;
	white-space: normal;
}

.teaming-discharge-button:active{
	color:white;
	background-color: rgba(66,166,42,0.7);
}

.teaming-discharge-button:hover,.teaming-discharge-button:focus{
	color:white;
	background-color: rgba(66,166,42,0.7);
}

.select-date{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	display: table;
	vertical-align: middle;
}

#table-joined-users{
	font-family: Segoe UI Symbol;
}

.filter-columns{
	text-align: center;
}

.alert-not-joined{
	font-weight: bold;
	color: white;
	text-align: center;
}

.redify{
	color:red;
	border-bottom: 1px solid red;
}

.teaming-paragraph{
	font-family: "Segoe UI Symbol" !important;
}

.accordion{
	background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.container {
         font-size: 16px;
         line-height: 16px;
         height: 32px;
         overflow: hidden;
}
.show {
     overflow: visible;
     height: auto;
}

#suggestionModal{
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	margin-top: 10px;
}

#suggestionModal > .modal-dialogue > .modal-content{
	background-image: url(../images/fondo.png);
	background-image: url(../images/fondo.png);
	border: 5px solid green;

}

#suggestionModal > .modal-dialogue > .modal-content > .modal-body{
	font-size: 20px;
	font-weight: bold;
}

#go-suggestion{
	border-radius: 3px
}

#go-suggestion{
	background: rgb(66,166,42);
	color: white;
	font-family: "Segoe UI Symbol";
}

