@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	src: local("Roboto"), local("Roboto-Regular"), url(../fonts/robotoCWB0XYA8bzo0kSThX0UTuA.woff2) format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 500;
	src: local("Roboto Medium"), local("Roboto-Medium"), url(../fonts/robotoRxZJdnzeo3R5zSexge8UUVtXRa8TVwTICgirnJhmVJw.woff2) format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	src: local("Roboto Bold"), local("Roboto-Bold"), url("https://fonts.gstatic.com/s/roboto/v15/d-6IYplOFocCacKzxwXSOFtXRa8TVwTICgirnJhmVJw.woff2") format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

html, body{
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.crm{
	border: 0;
	display: block;
	height: 100%;
	width: 100%
}

.catnet{
	border: 0;
	display: block;
	width: 100%;
	height: 100%
}

.tips{
	background: black;
	color: white;
	border: 1px solid #c0c0c0;
	width : 100%;
	text-align: center;
}

.carousel-control{
	background-image: unset !important;
}

.carousel-control .glyphicon{
	color: #1A1A1A !important;
} 

.carousel , .carousel-inner, .carousel-inner .item, .carousel-inner .item img {
	height: 100% !important;
}

.carousel{
	background: white;
	color:#1A1A1A;
	text-shadow:unset
}

.carousel-inner .item{
	overflow: auto;
}

.outer {
	display: table;
	position: absolute;
	height: 100%;
	width: 100%;
}

.middle {
	display: table-cell;
	vertical-align: middle;
}

.inner {
	margin-left: auto;
	margin-right: auto; 
}

.carousel-inner .item .inner{
	padding: 10px 50px 0px 50px;
}

.tip-feedback{
	margin-bottom: 10px;
}

.btn-green{
	background-color: #75cb8f;
	color: #FFFFFF;
	border: 0px solid;
	transition: background-color 0.2s;
	border-radius: 3px;
}

.btn-green:focus, .btn-green:active.btn-green:focus, .btn-green:hover{
	background-color: #63c381;
	color: #FFFFFF !important;
	outline: none;
}
.btn-red{
	background-color: #f55060;
	color: #FFFFFF;
	border: 0px solid;
	transition: background-color 0.2s;
	border-radius: 3px;
}

.btn-red:focus, .btn-red:active.btn-red:focus, .btn-red:hover{
	background-color: #f3384a;
	color: #FFFFFF !important;
	outline: none;
}

.btn{
	font-weight: 500;
	font-size: 14px;
	border-radius: 3px !important;
}

.btn.btn-lg{
	font-size: 19px;
}

.btn.btn-xs{
	font-size: 12px;
	padding: 1px 4px;
	line-height: 1.4;
}

.btn-xs .fa{
	width: auto!important;
}

.btn-sm {
	padding: 5px 10px;
}

.fw-500{
	font-weight: 500 !important;
}


#left-container {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	overflow: auto;
	width: 75%;
}

#right-container {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;
	color: #FFF;

}

#catnet-container {
    position: absolute;
    top: 0;
    bottom: 25%; 
    left: 0;
    right: 0;
    background-color: #444;
    overflow: auto;
    border-left: 1px solid #c0c0c0;
    border-bottom: 1px solid #c0c0c0;
}

#tips-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
    background-color: #777;
}

.resizer-helper{
	position: absolute;
	right: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	z-index: 400;
	display: none;
}