<div class="form-group">
    <label for="civilState" class="col-sm-2 control-label">Estado Civil</label>
    <div class="col-sm-10">
        <select class="form-control input-sm" id="civilState" name="civilState">
            <option ng-repeat="(key, cs) in civilStates" ng-value="key">{{cs}}</option>
        </select>
    </div>
</div>